.container{
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template: "header" 100px
					"banner" 600px
					"content" 300px
					"aside" 500px
					"footer" 400px
					/100%;
}
header{
	background: #2a2a2a;
}
.banner{
	background: #2a2a2a;
	border: 5px solid #cacaca;
}
.content{
	background: #2a2a2a;
}
aside{
	background: #1de9b6;
}
footer{
	background: #ffeb3b;
}
h2, h3, p{
	font-family: 'Neucha', cursive;
	color: #cacaca;
}
.h2_1{
	padding-left: 1%
}
.logo_akk{
	width: 30%;
	margin-left: 33%;
}
.block1{
	width: 50%;
	height: 400px;
	text-align: center;
	margin-left: 23%;
}
.filters li {
    display: inline-block;
    padding: 8px 5px;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: .75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    margin: 3px;
    opacity: 1;
    cursor: pointer;
    overflow: hidden;
}
.oxo{
	margin-left: 31%;
}
a{
	color: #999;
}
.oxo_two{
	display: flex;
}